---

---

<a
  href="https://www.airbnb.com/rooms/41660725?guests=1&adults=1&s=67&unique_share_id=108454f3-9aa6-4943-8d14-0e75c3812c6b"
  target="_blank"
  rel="noopener noreferrer"
>
  <button
    class="cursor-pointer bg-cyan-600 hover:bg-cyan-700 w-44 text-neutral-50 rounded-lg py-1.5 text-lg capitalize"
  >
    Book now
  </button>
</a>
